doctype html
html(ng-app="AngularApplicationBoilerplate")
  head
    meta(charset="utf-8")
    title Angular Application Boilerplate
    // build:css stylesheets.css
    link(href="app.css", rel="stylesheet")
    // endbuild
  body
    .container(ng-view="")
    // build:js scripts.js
    script(src="vendor/scripts/jquery.js")
    script(src="vendor/scripts/bootstrap/affix.js")
    script(src="vendor/scripts/bootstrap/alert.js")
    script(src="vendor/scripts/bootstrap/button.js")
    script(src="vendor/scripts/bootstrap/carousel.js")
    script(src="vendor/scripts/bootstrap/collapse.js")
    script(src="vendor/scripts/bootstrap/dropdown.js")
    script(src="vendor/scripts/bootstrap/modal.js")
    script(src="vendor/scripts/bootstrap/tooltip.js")
    script(src="vendor/scripts/bootstrap/popover.js")
    script(src="vendor/scripts/bootstrap/scrollspy.js")
    script(src="vendor/scripts/bootstrap/tab.js")
    script(src="vendor/scripts/bootstrap/transition.js")
    script(src="vendor/scripts/angular.js")
    script(src="vendor/scripts/angular-route.js")
    script(src="app.js")
    script(src="main/main_controller.js")
    // endbuild
